.banner-slide {
  position: relative;
}
.banner-content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  padding: 30px;
  max-width: 420px;
}
.banner-content h2 {
  font-size: 40px;
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
}
.banner-content p {
  font-size: 25px;
  color: blue;
  margin-bottom: 15px;
}
