@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

body {
  font-family: "Urbanist", sans-serif;
  overflow-x: hidden;
}
